#!/bin/bash
# piphoto example configuration file
# Fill this out and put it in /etc/piphoto.conf

# Where the sd card is mounted (should match 99-mediastorage_card_insert_run.rules and systemd/piphoto.service)
mount_point=/media

# What user to run the sync command as
run_as_user=pi

# What sync command to run
# rsync:
sync_command="rsync -rav -e shh $mount_point my_remote_server:./"
# dropbox upload:
# sync_command="piphoto-dropbox-sync $mount_point"
# dropbox upload and delete local
# sync_command="piphoto-dropbox-sync -r $mount_point"